.techImg{
    background-image: url("farzad-nazifi-p-xSl33Wxyc-unsplash.jpg");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 56px;
}
.cityImg{
    background-image: url("matt-nelson-z4X3yABcf5g-unsplash.jpg");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 56px;

}

.contactImg{
    background-image: url("adam-le-sommer-KhqoLfVRgLk-unsplash.jpg");
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 56px;
}

nav, footer{
    background-color: black;
}

.centering{
    padding-top: 80px;
    color: black;
}

a, a:hover{
    color: black;
}


#contactInfoPadding{
    padding-top: 180px;
}

#headerOutline{
    -webkit-text-stroke: 2px black;
    font-size: 50px;
}

 #mySkills:hover , #myProjects:hover{
    box-shadow: black 0px 7px 29px 0px;
 }

#socialMedia{
    color: white;
    -webkit-text-stroke: 2px black;
}

#aboutMeCard:hover{
    box-shadow: white 0px 7px 29px 0px;
}

#socialMedia:hover{
    box-shadow: white 0px 7px 29px 0px;
}

.socialMedias{
    position: absolute;
    bottom: 15px;
    width: 100%;
}

#aboutMeCard{
    width: 33%;
}

#profilePicture{
    border-radius: 50%;
}
